*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --spacing-sm: 10px;
}

html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 var(--spacing-sm);
  display: flex;
  gap: var(--spacing-sm);
  border-bottom: 1px solid darkgray;
}

header img {
  width: 200px;
}

body > div {
  display: flex;
  flex: 1;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: rebeccapurple;
}

aside a {
  color: white;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

main {
  padding: var(--spacing-sm);
}

footer {
  padding: var(--spacing-sm);
  background-color: darkgray;
  text-align: center;
  color: white;
}
